body {
    margin: 20px;
    background-color: rgb(220, 234, 247);
    font-family: kode mono, sans-serif;
}

header {
    text-align: center;
    color: rgb(54, 10, 116);

}

.btn-container {
    display: flex;
    justify-content: center;

}

#myInput {
    width: 200px;
    height: 28px;
    border: none;
    background-color: rgb(228, 217, 225);
    color: rgb(54, 10, 116);
    font-size: 18px;
}

#btn {
    border-left: solid 1px rgb(54, 10, 116);
    height: 30px;
    border: none;

    background-color: rgb(243, 192, 229);
}

.btn-container {}

.movie-card-2 {
    margin-top: 16px;
    display: flex;
    overflow-x: auto;
    gap: 14px;
}

.genre-card-2 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}

.genre-container {
    background-color: rgb(240, 196, 227);
    height: 40px;
    margin-top: 12px;
    color: rgb(54, 10, 116);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;

}

.h2 {
    color: rgb(54, 10, 116);
    text-align: center;

}